{%- assign strings = site.oscailte.strings -%}

{%- assign skip_to_main_content     = strings.skip_to_main_content     | default: "转到主要内容" -%}
{%- assign x_minute_read            = strings.x_minute_read            | default: "阅读时间：$x$ 分钟" -%}
{%- assign hero_title               = strings.hero_title               | default: "欢迎来到神经影像技术社区!<br> 讨论问题、交流想法、做有趣的项目！" -%}
{%- assign recent_posts             = strings.recent_posts             | default: "近期文章" -%}
{%- assign view_all                 = strings.view_all                 | default: "查看所有" -%}
{%- assign read_full                = strings.read_full                | default: "查看全文" -%}
{%- assign disqus_enable_javascript = strings.disqus_enable_javascript | default: 'Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus</a>.' -%}
